.about_page{
    .hero_section{
        // padding-bottom: 20vh;
        // height: 100vh;
        margin-top: 10vh;
        // border-bottom: 1px solid grey;
        h1{
            margin-top: 50vh;
            font-size: 64px;
            border-bottom: 1px solid grey;
        }
        p{
            font-size: 16px;
        }
        .social_media_list{
            margin-top: 30px;
            display: flex;
            img{
                mix-blend-mode: difference;
                filter: invert(1);
                height: 1.2rem;
                margin: 0px 30px 0px 0px;
            }
        }
        .hero_image{
            position: absolute;
            right: 0px;
            bottom: 0px;
            clip-path: circle(200px);
            img{
                border-radius: 3px;
                width: 50vh;
                border-bottom: 1px solid grey;
            }
        }
    }
}


@media screen and (orientation: portrait){
    .about_page{
        .hero_section{
            .hero_image{
                display: none;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        .about_page{
            .hero_section{
                margin-top: 25vh;
                h1{
                    font-size: 2rem;
                    line-height: 2.5rem;
                }
                .hero_image{
                    display: none;
                }
            }
        }
    }
}