.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    .CTA-MAIN{
        position: relative;
        margin: 150px 0px 250px 0px;
        height: 20vh;
        width: 40vw;
        border-radius: 100px;
        background-color: $primary_text_color;
        color: $primary_background_color;
        font-size: 28px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .25s ease-in-out;
    }
    .CTA-MAIN:hover{
        transform: scale(1.1);
        animation: background_color 2s ease-in-out infinite;
    }
}
.contact_page{
    margin-top: 10vh;
    #contact-form{
        margin-top: 30px;
        label{
            margin: 20px 0px 10px 0px;
            font-size: 20px;
            color: $secondary_text_color;
            display: block;
        }
        input{
            margin-bottom: 20px;
            display: block;
            font-size: 20px;
            height: 30px;
            width: 500px;
            background: transparent;
            border-bottom: 1px solid grey;
            color: $primary_text_color;
        }
        textarea{
            background: transparent;
            border: 1px solid grey;
            border-radius: 5px;
            width: 500px;
            height: 100px;
            color: $primary_text_color;
        }
    }
}
.message_sent{
    
}