.intro_grid_container{
    margin: 10vh 0px 0vh 0px;
    position: relative;
    height: 120vh;
    background-color: $secondary_background_color;
    overflow: hidden;
    .wrapper_rotate{
        height: 100%;
        width: 100%;
        position: absolute;
        transform: rotateZ(10deg);
        .intro_grid{
            height: 100%;
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-around;
            top: -20%;
            // left: -50%;
            .row{
                .grid_element{
                    margin: 30px 15px 30px 15px;
                    height: 30vh;
                    width: 20vw;
                    border-radius: 5px;
                    background-color: $primary_background_color;
                    padding: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .photo{
                        height: 80%;
                        width: auto;
                    }
                    img{
                        border-radius: 5px;
                        width: 80%;
                        transition: 0.5s ease-in-out;
                        background-color: #c6c6c6;
                    }
                }:hover{
                    img{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

@media screen and (orientation: portrait){
    @media screen and (max-width: 1024px) {
        .intro_grid_container{
            height: 80vh;
            pointer-events: none;
            .wrapper_rotate{
                transform: rotateZ(25deg);
                .intro_grid{
                    .row{
                        .grid_element{
                            height: 20vw;
                            width: 10vh;
                            img{
                                height: 90%;
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}