svg{
    cursor: pointer;
    transition: all;
}
.icon{
    display: flex;
    align-items: center;
}
svg{
    width: 40px;
    height: 40px;
}
.icon a h1{
    color: $primary_text_color;
    margin-left: 15px;
    font-size: 16px;
    line-height: 16px;
}

#input_layer, #hidden_layer, #output_layer{
    fill: #161616;
}
.neuron{
    opacity: 0;
    stroke: #161616;
    animation: neuron_animation 2500ms ease-in-out infinite;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}
#neuron_1_2{
    animation-delay: 600ms;
}
#neuron_1_3{
    animation-delay: 1000ms;
}
#neuron_1_4{
    animation-delay: 700ms;
}
#neuron_1_5{
    animation-delay: 800ms;
}
/* Output Neuron Animation */
#neuron_2_1{
    animation-delay: 1500ms;
}
#neuron_2_2{
    animation-delay: 1700ms;
}
#neuron_2_3{
    animation-delay: 2000ms;
}
@keyframes neuron_animation {
    0%{
        opacity: 0;
        stroke: blue;
    }
    50%{
        stroke: greenyellow;
    }
    100%{
        opacity: 1;
        stroke: black;
    }
}

#neuron_1, #neuron_2, #hidden_neuron_1, #hidden_neuron_2, #hidden_neuron_3, #output_layer{
    animation: layer_animation 2500ms ease-in-out infinite;
    transform-origin: center;
}
#neuron_2{
    animation-delay: 100ms;
}
#hidden_neuron_1{
    animation-delay: 600ms;
}
#hidden_neuron_2{
    animation-delay: 700ms;
}
#hidden_neuron_3{
    animation-delay: 800ms;
}
#output_layer{
    animation-delay: 1500ms;
}
@keyframes layer_animation {
    0%{
        fill: greenyellow;
        transform: scale(1);
    }
    50%{
        fill: blue;
        transform: scale(1.01);
    }
    100%{
        fill: black;
        transform: scale(1);
    }
}