.nav{
    position: relative;
    height: 12vh;
    padding: 0px 5vw 0px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon{
        .logo_head{
            color: $secondary_text_color;
        }
    }
    .menu{
        display: flex;
        align-items: center;
        a{
            margin-right: 10px;
            text-decoration: none;
            color: $secondary_text_color;
            margin-left: 1vw;
            font-weight: 400;
            font-size: 14px;
        }
        .theme_switcher{
            margin-top: 10px;
            background: $secondary_text_color;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 20px;
                width: 20px;
                // color: $secondary_text_color;
                // background-size: 10px;
            }
        }
        .theme_switcher:hover{
            animation: animate_color 1s linear infinite;
        }
        .menu_toggle_switch{
            margin-top: 10px;
            background: $secondary_text_color;
            height: 40px;
            width: 80px;
            border-radius: 40px;
            color: $secondary_background_color;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .menu_toggle{
            margin-right: 10px;
            height: 30px;
            width: 20px;
            background-color: blue;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;
            .line{
                height: 4px;
                width: 100%;
                background: $secondary_text_color;
            }
        }
    }
    .menu_page{
        position: fixed;
        margin: 135vh 0vw 0vh -5vw;
        z-index: 10;
        width: 100vw;
        display: flex;
        flex-flow: column;
        transform: translateY(0%);
        transition: all 750ms ease-in-out;
        .nav{
            padding-top: 2vh;
        }
        .menu_content{
            height: 100vh;
            background: $secondary_background_color;
            .menu_expanded{
                height: 80vh;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                a{
                    text-decoration: none;
                    font-size: 28px;
                    color: $primary_text_color;
                    display: flex;
                    flex-flow: column;
                }
                h3{
                    position: relative;
                    z-index: 10;
                    font-size: 28px;
                    font-weight: 300;
                }
                h3:hover{
                    .link_blobs{
                        transform: scale(1);
                    }
                }
                .link_blobs{
                    transition: all 250ms;
                    transform: scale(0);
                    transform-origin: center;
                    position: absolute;
                    z-index: 0;
                    margin-left: -50px;
                    .blob{
                        position: absolute;
                        z-index: 9;
                        height: 200px;
                        width: 200px;
                        border-radius: 100%;
                        mix-blend-mode: multiply;
                        filter: blur(100px);
                        animation: menu_blob_animation 10s ease-in-out infinite;
                    }
                    .blob_1{
                        background: rgb(255, 106, 47);
                        margin-top: -140px;
                    }
                    .blob_2{
                        background: blue;
                        margin-top: -40px;
                    }
                    @keyframes menu_blob_animation {
                        0%{
                            transform: scale(0.8);
                        }
                        50%{
                            transform: scale(1.1);
                            margin-bottom: -20px;
                        }
                        100%{
                            transform: scale(0.8);
                        }
                    }
                }
            }
        }
        .gradient{
            height: 50vh;
            background: linear-gradient(to bottom, $secondary_background_color, #00000000);
        }
    }
    .closed{
        transform: translateY(-100%);
    }
    .Horizontal_line{
        margin-top: 10vh;
        position: absolute;
        height: 2px;
        width: 90vw;
        background-color: $secondary_text_color;
    }
}
.animate_color:hover{
    transition: all 2s;
    span{
        animation: animate_color 2s linear infinite;
    }
}
@keyframes animate_color {
    0%{
        color: $secondary_text_color;
    }
    25%{
        color: $primary_color;
    }
    75%{
        color: $secondary_color;
    }
    100%{
        color: $secondary_text_color;
    }
}
