$primary_color: var(--primary_color);
$secondary_color: var(--secondary_color);
$primary_text_color: var(--primary_text_color);
$secondary_text_color: var(--secondary_text_color);
$primary_background_color: var(--primary_background_color);
$secondary_background_color: var(--secondary_background_color);