.about_section{
    height: 110vh;
    margin: 45vh 10vh 0px 10vh;
    .text_container{
        position: absolute;
        z-index: 20;
        h1{
            position: relative;
            text-align: left;
            font-size: 114px;
            font-weight: 400;
            z-index: 10;
            color: #161616;
        }
        .cta{
            height: 8vh;
            width: 11vw;
            margin-top: 5vh;
            //border: 2px solid #161616;
            background-color: #F67119;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $hero-cta;
            font-weight: 600;
            z-index: 10;
            text-decoration: none;
            color: #ffffff;
            transition: all 0.1s ease;
        }
        .cta:hover{
            box-shadow: 1px 1px 30px #F67119;
        }
        p{
            margin-top: 17vh;
            font-size: 1.2rem;
            width: 40vw;
            color: #161616;
            word-spacing: 0.2rem;
            line-height: 1.6rem;
        }
        :nth-last-child(1){
            margin-top: 5vh;
        }
    }
    .hero_image{
        position: absolute;
        z-index: 2;
        top: 28vh;
        right: 0px;
        height: auto;
        width: 70vw;
        background-color: rgb(230, 230, 230);
        img{
            overflow-x: hidden;
            top: 0px;
            position: absolute;
            height: auto;
            width: 100%;
            z-index: 1;
        }
    }
}
.space_between{
    height: 30vh;
}



/*
.skills{
    height: 100vh;
    width: 100%;
    margin: 35vh 10vh 0vh 10vh;
    h3{
        font-size: 36px;
        font-weight: 400;
    }
    .skills_container{
        display: flex;
        .design{
            width: 25%;
            margin: 0px 5vh 0px 5vh;
            background-color: #757575;
        }
        .frontend{
            width: 25%;
            margin: 0px 5vh 0px 5vh;
            background-color: #757575;
        }
        .backend{
            width: 25%;
            margin: 0px 5vh 0px 5vh;
            background-color: #757575;
        }
    }
}
*/


//..........................Media Quaries.....................

//.........................mobile_Resposive....................

@media screen and (orientation: portrait){

    @media screen and (max-width: 1024px){
        .about_section{
            height: 110vh;
            margin: 5vh 10vw 0px 10vw;
            .text_container{
                position: absolute;
                z-index: 20;
                h1{
                    position: relative;
                    text-align: left;
                    font-weight: 400;
                    font-size: 4rem;
                    z-index: 10;
                }
                .cta{
                    height: 9vw;
                    width: 25vw;
                    margin-top: 5vh;
                    font-size:  1.25rem;

                            
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                p{
                    margin-top: 45vh;
                    font-size: 1.7rem;
                    width: 80vw;
                }
            }
            .hero_image{
                top: 45vh;
                height: 100vw;
                width: 115vw;
                background-color: transparent;
                img{
                    height: auto;
                }
            }
        }
    }

    @media screen and (max-width: 800px){
        .about_section{
            height: 110vh;
            margin: 5vh 10vw 0px 10vw;
            .text_container{
                position: absolute;
                z-index: 20;
                h1{
                    position: relative;
                    text-align: left;
                    font-weight: 400;
                    font-size: 4rem;
                    z-index: 10;
                }
                .cta{
                    height: 9vw;
                    width: 25vw;
                    margin-top: 5vh;
                    font-size:  1.25rem;

                            
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                p{
                    margin-top: 40vh;
                    font-size: 1.7rem;
                    width: 80vw;
                }
            }
            .hero_image{
                top: 45vh;
                height: 100vw;
                width: 135vw;
                background-color: transparent;
                img{
                    height: auto;
                }
            }
        }
    }

    @media screen and (max-width: 720px){
        .about_section{
            margin: 5vh 5vw 45vh 5vw;
            .text_container{
                h1{
                    position: relative;
                    text-align: left;
                    font-weight: 400;
                    font-size: 2.5rem;
                    z-index: 10;
                }
                .cta{
                    height: 12vw;
                    width: 35vw;
                    margin-top: 5vh;
                    font-size:  1.1rem;

                            
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                p{
                    margin-top: 45vh;
                    font-size: 1.2rem;
                    width: 80vw;
                }
            }
            .hero_image{
                top: 45vh;
                height: 100vw;
                width: 145vw;
                img{
                    height: auto;
                }
            }
        }
    }

    @media screen and (max-width: 480px){
        .about_section{
            margin: 5vh 5vw 55vh 5vw;
            .text_container{
                h1{
                    position: relative;
                    text-align: left;
                    font-weight: 400;
                    font-size: 2.1rem;
                    z-index: 10;
                }
                .cta{
                    height: 12vw;
                    width: 35vw;
                    margin-top: 5vh;
                    font-size:  .9rem;

                            
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                p{
                    margin-top: 45vh;
                    font-size: 1.1rem;
                    width: 80vw;
                }
            }
            .hero_image{
                height: 100vw;
                width: 125vw;
                img{
                    margin: 0px 0px 0px 0vw;
                }
            }
        }
    }

    @media screen and (max-width: 380px){
        .about_section{
            margin: 5vh 5vw 35vh 5vw
        }
    }
}

//.........................Desktop Responsive....................

//.........................For 1080p displays....................

@media screen and (min-width: 1920px) and (max-width: 2559px){
    .about_section{
        .hero_image{
            img{
                width: auto;
            }
        }
    }
}

//.........................For 2560p displays....................

@media screen and (min-width: 2560px) and (max-width: 3840px){
    .about_section{
        .hero_image{
            img{
                width: auto;
            }
        }
    }
}

//.........................For 3840p or 4k displays....................

@media screen and (min-width: 3840px){
    .about_section{
        .hero_image{
            img{
                width: auto;
            }
        }
    }
}