.design_section{
    //content-visibility: auto;
    height: 100vh;
    margin-top: 35vh;
    .rellax{
        #headding-3{
            position: absolute;
            transform: rotate(-90deg);
            font-size: $text-watermark;
            margin: -68vh 0vh 0px -30vh;
            color: #DFDFDF;
            font-weight: 500;
        }
    }
    .design-list{
        position: absolute;
        right: 0px;
        margin: 15vh 10vh 0px 0vh;
        list-style-type: none;
        width: 60vw;
        li{
            margin-bottom: 5vh;
            border-bottom: 1px solid #adadad;
            text-align: right;
            a{
                text-decoration: none;
                cursor: none;
                h4{
                    font-size: $text-project-head;
                    font-weight: 400;
                    color: #373737;
                    transition: all 0.5s ease-in-out;
                }
                ul{
                    margin-top: 2vh;
                    list-style-type: none;
                    display: flex;
                    justify-content: flex-end;
                    transition: all 0.5s ease-in-out;
                    li{
                        margin-left: 5vh;
                        font-size: $project-jobs;
                        color: #9A9A9A;
                        border: none;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
        li:hover{
            a{
                h4{
                    margin-right: 5vh;
                    font-weight: 600;
                }
                ul{
                    margin-right: 2vh;
                    li{
                        font-weight: 400;
                        color: black;
                    }
                }
            }
        }
    }
}




//..........................Media Quaries.....................

//.........................mobile_Resposive....................

//..........................Media Quaries.....................

//.........................mobile_Resposive....................
@media screen and (orientation: portrait){

    @media screen and (max-width: 1024px){
        .design_section{
            height: 50vh;
            margin-top: 20vh;
            .rellax{
                #headding-3{
                    margin: -15vh -12vh 0px -12vh;  //-68vh 0vh 0px -30vh
                }
            }
            .design-list{
                margin: 0vh 10vw 0px 10vw;
                li{
                    margin-bottom: 10vw;
                    border-bottom: 1px solid #adadad;
                    a{
                        h4{
                            font-size: 2.5rem;
                            font-weight: 500;
                        }
                        ul{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 800px){
        .design_section{
            .rellax{
                #headding-3{
                    margin: -5vh 10vw 0px -22vw;
                }
            }
        }
    }
    
    @media screen and (max-width: 720px){
        .design_section{
            height: 50vh;
            margin-top: 5vw;
            .rellax{
                #headding-3{
                    margin: -5vh 11vw 0px -30vw;
                    font-size: 6rem;
                }
            }
            .design-list{
                margin: 0px 5vw 0px 5vw;
                li{
                    a{
                        h4{
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 2.5rem;
                        }
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 480px){
        .design_section{
            .rellax{
                #headding-3{
                    margin: -30vh 10vw 0px -19vw;
                    font-size: 4rem;
                }
            }
            .design-list{
                li{
                    a{
                        h4{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 380px){
        .design_section{
            margin-top: 20vh;
            .rellax{
                #headding-3{
                    margin: -35vh 10vw 0px -19vw;
                    font-size: 4rem;
                }
            }
        }
    }
}


//.........................Desktop Responsive....................

//.........................For 1080p displays....................

@media screen and (min-width: 1920px) and (max-width: 2559px){
    .design_section{
        margin-top: 0vh;
        .rellax{
            #headding-3{
                margin: -20vh 0vh 0px -30vh;
            }
        }
    }
}

//.........................For 2560p displays....................

@media screen and (min-width: 2560px) and (max-width: 3840px){
    .design_section{
        margin-top: 0vh;
        .rellax{
            #headding-3{
                margin: -20vh 0vh 0px -30vh;
            }
        }
    }
}

//.........................For 3840p or 4k displays....................

@media screen and (min-width: 3840px){
    .design_section{
        margin-top: 0vh;
        .rellax{
            #headding-3{
                margin: -15vh 0vh 0px -30vh;
            }
        }
    }
}