.project_name_container{
    margin: 0px 0px 20vh 10vh;
    display: flex;
    align-items: center;
    .project-number{
        font-size: 3*$text-page-head;
        margin-left: 0px;
    }
    h1{
        margin-left: 5vh;
        font-size: $text-page-head;
        font-weight: 500;
        color: #161616;
    }
}
.project_container{
    margin-top: 50vh;
    padding-bottom: 10vh;
    .project_img_container{
        height: 80vh;
        display: flex;
        justify-content: center;
        margin-bottom: 10vh;
        .img_container{
            height: 100%;
            img{
                max-width: 70vw;
            }
        }
    }
    .project_des_container{
        //content-visibility: auto;
        margin: 0px 10vh 10vh 10vh;
        .project_description{
            padding-top: 10vh;
            margin: 0px 10vh 0px 10vh;
            h4{
                font-size: 2.25rem;
                font-weight: 400;
            }
            p{
                margin-top: 5vh;
                font-size: 1rem;
            }
        }
        .project_details{
            margin: 10vh;
            padding-bottom: 20vh;
            h4{
                font-size: 2.25rem;
                font-weight: 400;
            }
            dl{
                margin-top: 10vh;
                li{
                    margin-top: 3vh;
                    list-style-type: none;
                    height: 10vh;
                    border-bottom: 1px solid black;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    dt{     
                        font-size: 1rem;
                    }
                    dd{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .other_screenshots{
        margin-top: 10vh;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        img{
            height: 30vw;
            margin-top: 10vh;
        }
    }
}







//..........................Media Quaries.....................

//.........................mobile_Resposive....................
@media screen and (orientation: portrait){
    @media screen and (max-width: 1024px){
        .project_name_container{
            margin: 10vw 0px 0vw 10vw;
        }
        .project_container{
            margin-top: 75vh;
            .project_img_container{
                margin: 5vw;
                height: 30vw;
                transform: translateY(-40%);
                .img_container{
                    width: 90%;
                    img{
                        height: auto;
                    }
                }
            }
            .project_des_container{
                margin: 10vw;
                .project_description{
                    padding-top: 5vw;
                    margin: 0px 5vw 0px 5vw;
                    p{
                        margin-top: 3vw;
                    }
                }
                .project_details{
                    margin: 5vw;
                    dl{
                        margin-top: 3vw;
                        li{
                            height: 5vw;
                        }
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 720px) and (orientation: portrait){
        .project_name_container{
            margin: 10vh 0px 0vw 5vw;
        }
        .project_container{
            margin-top: 20vh;
            .project_img_container{
                margin: 5vw;
                height: 30vw;
                transform: translateY(-30%);
            }
            .project_des_container{
                margin: 5vw;
                .project_description{
                    padding-top: 5vw;
                    margin: 0px 5vw 0px 5vw;
                    p{
                        margin-top: 7vw;
                    }
                }
                .project_details{
                    margin: 7vw 5vw 5vw 5vw;
                    dl{
                        margin-top: 7vw;
                        li{
                            height: 10vw;
                        }
                    }
                }
            }
        }
    }
}

//.........................Desktop Responsive....................

//.........................For 1080p displays....................

@media screen and (min-width: 1920px) and (max-width: 2559px){
    .project_container{
        .project_img_container{
            margin-bottom: 25vh;
        }
        .project_des_container{
            margin-top: -25vh;
        }
    }
}

//.........................For 2560p displays....................

@media screen and (min-width: 2560px) and (max-width: 3840px){
    .project_name_container{
        .project-number{
            //font-size: 4*$text-page-head;
        }
    }
    .project_container{
        .project_img_container{
            margin-bottom: 30vh;
        }
        .project_des_container{
            margin-top: -20vh;
        }
    }
}

//.........................For 3840p or 4k displays....................

@media screen and (min-width: 3840px){
    .project_container{
        .project_img_container{
            margin-bottom: 35vh;
        }
        .project_des_container{
            margin-top: -30vh;
        }
    }
}