.project_section{
    //content-visibility: auto;
    height: 100vh;
    margin-top: 35vh;
    .rellax{
        #headding-3{
            position: absolute;
            right: 0px;
            transform: rotate(90deg);
            font-size: $text-watermark;
            margin: -35vh -30vh 0px 0vh;
            color: #DFDFDF;
            font-weight: 500;
            z-index: 1000;
        }
    }
    .project-list{
        margin: 20vh 0px 0px 10vh;
        list-style-type: none;
        width: 60vw;
        li{
            margin-bottom: 5vh;
            border-bottom: 1px solid #adadad;
            a{
                text-decoration: none;
                cursor: none;
                h4{
                    font-size: $text-project-head;
                    font-weight: 400;
                    color: #373737;
                    transition: all 0.3s ease-in-out;
                }
                ul{
                    margin-top: 2vh;
                    list-style-type: none;
                    display: flex;
                    transition: all 0.3s ease-in-out;
                    li{
                        margin-right: 5vh;
                        font-size: $project-jobs;
                        color: #9A9A9A;
                        border: none;
                        transition: all 0.3s ease-in-out;
                    }
                
                }
            }
        }
        li:hover{
            a{
                h4{
                    margin-left: 5vh;
                    font-weight: 600;
                }
                ul{
                    margin-left: 2vh;
                    li{
                        font-weight: 400;
                        color: black;
                    }
                }
            }
        }
    }
}




//..........................Media Quaries.....................

//.........................mobile_Resposive....................
@media screen and (orientation: portrait){

    @media screen and (max-width: 1024px){
        .project_section{
            height: 50vh;
            margin-top: 5vh;
            .rellax{
                #headding-3{
                    margin: -5vh -12vh 0px 0vh;
                }
            }
            .project-list{
                margin: 0vh 10vw 0px 10vw;
                li{
                    margin-bottom: 10vw;
                    border-bottom: 1px solid #adadad;
                    a{
                        h4{
                            font-size: 2.5rem;
                            font-weight: 500;
                        }
                        ul{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 800px){
        .project_section{
            .rellax{
                #headding-3{
                    margin: -5vh -18vh 0px 0vh;
                }
            }
        }
    }
    
    @media screen and (max-width: 720px){
        .project_section{
            height: 50vh;
            margin-top: 5vw;
            .rellax{
                #headding-3{
                    margin: -5vh -11vh 0px 0vh;
                    font-size: 6rem;
                }
            }
            .project-list{
                margin: 0px 5vw 0px 5vw;
                li{
                    a{
                        h4{
                            font-size: 1.8rem;
                            font-weight: 400;
                            line-height: 2.5rem;
                        }
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 480px){
        .project_section{
            .rellax{
                #headding-3{
                    margin: -20vh -10vh 0px 0vh;
                    font-size: 4rem;
                }
            }
            .project-list{
                li{
                    a{
                        h4{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
    
}

//.........................Desktop Responsive....................

//.........................For 1080p displays....................

@media screen and (min-width: 1920px) and (max-width: 2559px){
    .project_section{
        margin-top: 15vh;
        .rellax{
            #headding-3{
                margin: -20vh -30vh 0px 0vh;
            }
        }
    }
}

//.........................For 2560p displays....................

@media screen and (min-width: 2560px) and (max-width: 3840px){
    .project_section{
        margin-top: 5vh;
        .rellax{
            #headding-3{
                margin: -10vh -30vh 0px 0vh;
            }
        }
    }
}

//.........................For 3840p or 4k displays....................

@media screen and (min-width: 3840px){
    .project_section{
        margin-top: 0vh;
        .rellax{
            #headding-3{
                margin: -5vh -30vh 0px 0vh;
            }
        }
    }
}