*{
    margin: 0pc;
    padding: 0px;
    border: 0px;
    font-family: sans-serif;
    cursor: none;
}
body{
    background-color: #f5f5f5;
    overflow-x: hidden;
    transition: all 0.5s;
    scroll-behavior: smooth;
    //filter: grayscale(100%);
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    background-color: #161616;
}
#preload{
    display: none;
    img:nth-child(1){
        background-image: url(../../assets/images/project-1.png);
    }
    img:nth-child(2){
        background-image: url(../../assets/images/project-2.png);
    }
    img:nth-child(3){
        background-image: url(../../assets/images/project-3.png);
    }
    img:nth-child(4){
        background-image: url(../../assets/images/design-1.png);
    }
    img:nth-child(5){
        background-image: url(../../assets/images/design-2.png);
    }
    img:nth-child(6){
        background-image: url(../../assets/images/design-3.png);
    }
    img:nth-child(7){
        background-image: url(../../assets/svgs/rect832.png);
    }
}

//..........................Media Quaries.....................

//.........................mobile_Resposive....................

@media screen and (max-width: 2160px) and (orientation: portrait){
    html{
        font-size: 36px;
    }
}

@media screen and (max-width: 1440px) and (orientation: portrait){
    html{
        font-size: 28px;
    }
}

@media screen and (max-width: 1080px) and (orientation: portrait){
    html{
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait){
    html{
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) and (orientation: portrait){
    html{
        font-size: 14px;
    }
}

@media screen and (max-width: 720px) and (orientation: portrait){
    html{
        font-size: 24px;
    }
}

@media screen and (max-width: 650px) and (orientation: portrait){
    html{
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) and (orientation: portrait){
    html{
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) and (orientation: portrait){
    html{
        font-size: 12px;
    }
}

//.........................Desktop Responsive....................

//.........................For 1080p displays....................

@media screen and (min-width: 1920px) and (max-width: 2559px){
    html{
        font-size: 24px;
    }
}

//.........................For 2560p displays....................

@media screen and (min-width: 2560px) and (max-width: 3840px){
    html{
        font-size: 32px;
    }
}

//.........................For 3840p or 4k displays....................

@media screen and (min-width: 3840px){
    html{
        font-size: 48px;
    }
}