.work_with_me_container{
    //content-visibility: auto;
    display: flex;
    height: 50vh;
    background-color: #ffffff;
    margin: 10vh;
    position: relative;
    overflow: hidden;
    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 7vh;
        .top_text{
            h3{
                font-size: $text-project-head;
                font-weight: 500;
            }
        }
        .cta{
            height: 7vh;
            width: 10vw;
            border: 2px solid #161616;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $hero-cta;
            font-weight: 500;
            z-index: 10;
            text-decoration: none;
            color: #161616;
        }
    }
    .illustration{
        height: 100%;
        position: absolute;
        right: 0px;
    }
}

//..........................Media Quaries.....................

//.........................mobile_Resposive....................

@media screen and (max-width: 1024px){
    .work_with_me_container{
        height: 75vh;
        margin: 5vw 5vw 0px 5vw;
        .text{
            display: block;
            padding: 5vw;
            .top_text{
                h3{
                    font-size: 4rem;
                }
            }
            .cta{
                margin-top: 7vw;
                height: 8vw;
                width: 25vw;
                font-size: 1.5rem;
            }
        }
        .illustration{
            height: 50%;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
}

@media screen and (max-width: 720px) and (orientation: portrait){
    .work_with_me_container{
        .text{
            .top_text{
                h3{
                    font-size: 2.5rem;
                }
            }
            .cta{
                margin-top: 7vw;
                height: 10vw;
                width: 35vw;
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 480px) and (orientation: portrait){
    .work_with_me_container{
        height: 70vh;
        .text{
            .top_text{
                h3{
                    font-size: 2.1rem;
                }
            }
            .cta{
                margin-top: 7vw;
                height: 10vw;
                width: 35vw;
                font-size: 1rem;
            }
        }
    }
}

//.........................Desktop Responsive....................

//.........................For 1080p displays....................

@media screen and (min-width: 1920px) and (max-width: 2559px){
    .work_with_me_container{
        .text{
            padding: 10vh;
        }
    }
}

//.........................For 2560p displays....................

@media screen and (min-width: 2560px) and (max-width: 3840px){
    
}

//.........................For 3840p or 4k displays....................

@media screen and (min-width: 3840px){
    
}